<header class="myheader">
    <h1>

        <a style="all: unset;" href="/">Work_Flow</a>
    </h1>

    <nav>
        <ul class="parent">
            <li> <a href="/alle">Alle Aufträge </a>
               
            </li>
            <li ><a href="/add-new-article">  
                Neuer Auftrag </a></li>
           
                <li ><a href="/archiv">  
                       Archiv </a></li>
            
            <li><a href="/suche"> Suche </a></li>
        </ul>
    </nav>
</header>

