<!DOCTYPE html>

<html lang="ar">
  <%- include("./partials/head.ejs") %>

  <body id="body">
    <%- include("./partials/header.ejs") %>
    <main id="main">

     
        
      
   
      <article class="tabel">
        <div>
          <h2>Neue Aufträge</h2>
          <table>

        <tr>
          <th>Order Date</th>
          <th>Anzahl</th>
        </tr>
        <tr>
          <td>2023-05-15</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2023-05-16</td>
          <td>5</td>
        </tr>
        <tr>
          <td>2023-05-17</td>
          <td>8</td>
        </tr>
      </table>
  
      </div>
      
      
      <div>
        <h2>Neue Aufträge</h2>
        <table>


      <tr>
        <th>Order Date</th>
        <th>Anzahl</th>
      </tr>
      <tr>
        <td>2023-05-15</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2023-05-16</td>
        <td>5</td>
      </tr>
      <tr>
        <td>2023-05-17</td>
        <td>8</td>
      </tr>
      </table></div>
            
      
      <div>
        <h2>Neue Aufträge</h2>
        <table>
 

      <tr>
        <th>Order Date</th>
        <th>Anzahl</th>
      </tr>


      <tr>
        <td>2023-05-15</td>
        <td>10</td>
      </tr>

      <tr>
        <td>2023-05-16</td>
        <td>5</td>
      </tr>

      <tr>
        <td>2023-05-17</td>
        <td>8</td>
      </tr>

      </table></div>
    </article>
      
<aside class="aside">
    <article class="kontakt">
      <div ><h3>System Configiration</h3>
        <P>Ansprechpartner </P>
        <p>Email :<a href="">Conf@hotmail.de</a></p></div>

   
   <div ><h3>Profisional Services</h3>
        <P>Ansprechpartner </P>
        <p>Email :<a href="">Conf@hotmail.de</a></p></div>


     <div ><h3>Service Disk</h3>
          <P>Ansprechpartner </P>
          <p>Email :<a href="">Conf@hotmail.de</a></p></div>


     <div ><h3>Logistik</h3>
          <P>Ansprechpartner </P>
          <p>Email :<a href="">Conf@hotmail.de</a></p></div>

        </aside>
      </div> 
    </article>

    </main>

    <%-include("./partials/footer.ejs")%>
  </body>
     

</html>













