<!DOCTYPE html>

<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= mytite %></title>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/css/grid.css" />
<link rel="stylesheet" href="/css/styles.css" />


 
</head>
  <body id="body">
    <%- include("./partials/header.ejs") %>
    <main id="main" class="grid-container">

     
        
      
   
      <article class="tabel">
        <div>
          <h2>Neue Aufträge</h2>
          <table>

        <tr>
          <th>Order Date</th>
          <th>Anzahl</th>
        </tr>
        <tr>
          <td>2023-05-15</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2023-05-16</td>
          <td>5</td>
        </tr>
        <tr>
          <td>2023-05-17</td>
          <td>8</td>
        </tr>
      </table>
  
      </div>
      
      
      <div>
        <h2>In Bearbeitung</h2>
        <table>


      <tr>
        <th>Order Date</th>
        <th>Anzahl</th>
      </tr>
      <tr>
        <td>2023-05-15</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2023-05-16</td>
        <td>5</td>
      </tr>
      <tr>
        <td>2023-05-17</td>
        <td>8</td>
      </tr>
      </table></div>
            
      
      <div>
        <h2>Fertig</h2>
        <table>
 

      <tr>
        <th>Order Date</th>
        <th>Anzahl</th>
      </tr>


      <tr>
        <td>2023-05-15</td>
        <td>10</td>
      </tr>

      <tr>
        <td>2023-05-16</td>
        <td>5</td>
      </tr>

      <tr>
        <td>2023-05-17</td>
        <td>8</td>
      </tr>

      </table></div>
    </article>
      
<aside class="aside">
    <article class="kontakt">
      <div ><h3>System Configiration</h3>
        <P>Ansprechpartner </P>
        <p>Email :<a href="">Conf@hotmail.de</a></p></div>

   
   <div ><h3>Profisional Services</h3>
        <P>Ansprechpartner </P>
        <p>Email :<a href="">Conf@hotmail.de</a></p></div>


     <div ><h3>Service Disk</h3>
          <P>Ansprechpartner </P>
          <p>Email :<a href="">Conf@hotmail.de</a></p></div>


     <div ><h3>Logistik</h3>
          <P>Ansprechpartner </P>
          <p>Email :<a href="">Conf@hotmail.de</a></p></div>

        </aside>
      </div> 
    </article>

    </main>

    <%-include("./partials/footer.ejs")%>
  </body>
     

</html>













