<div id="deleteModal" class="modal">
    <div class="modal-content">
      <h2>Möchten Sie den Auftrag wirklich löschen?</h2>
      <div class="modal-buttons">
        <button id="deleteConfirm">Ja</button>
        <button id="deleteCancel">Abbrechen</button>
      </div>
    </div>
  </div>