<!DOCTYPE html>

<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="body">
    <%- include("./partials/header.ejs") %>

    <main id="main">
      <h1 id="H_neuekunde">Suche</h1>
      <section class="S_neuekunde">
        <form id="meinFormular" method="get">
          <label for="Auftrag_ID">Auftrag_ID: </label>
          <input id="Auftrag_ID" type="text" />

          <label for="Kunde_ID">Kunde_ID: </label>
          <input id="Kunde_ID" type="text" />

          <label for="Lieferdatum">Lieferdatum: </label>
          <input id="Lieferdatum" type="text" />

          <button id="suchButton"  class="create">suche</button>
        </form>
      </section>
      <div id="ergebnis"></div>
    </main>

    <%-include("./partials/footer.ejs")%>

    <script>
      let inputId = document.getElementById("Auftrag_ID");
      let inputKunde= document.getElementById("Kunde_ID");
      var meinFormular = document.getElementById("meinFormular");

      var ergebnis = document.getElementById("ergebnis");
      var suchButton = document.getElementById("suchButton");
      var kundeIdInputValue="";
      var eingegebenerText = "";
      inputId.addEventListener("input", function (event) {
        eingegebenerText = event.target.value;
      });
      inputKunde.addEventListener("input", function (event) {
        kundeIdInputValue = event.target.value;
      });

      suchButton.addEventListener("click", function (event) {
        event.preventDefault();
        console.log("Eingegebener Text:", eingegebenerText);
 
        fetch(`/auftragArry`)
          .then((result) => {
            return result.json();
          })
          .then((data) => {
            data.forEach((element) => {
              console.log(element.Auftrag_id);
              //console.log("Jiro Id"+element._id);

              if ((parseInt(eingegebenerText)=== element.Auftrag_id) || ((parseInt(kundeIdInputValue)=== element.Kunde_ID))) {
                console.log(eingegebenerText);
               console.log("Jiro Id"+element._id);
                meineURL = `/auftrag-informationen/${element._id}`;
                console.log(meineURL);

                window.location.href = meineURL;
              }else{
                window.location.href="/not-fund";
              }
            });
          });
        });
    </script>
  </body>
</html>
